OPENDART_API_KEY=abcdefghijkmnopqrstuvwxyz
FINDART_URI=http://findart.com
FINDART_TOKEN=replace-with-collector-jwt
NEWS_RSS_URIS=https://news.com/total_news.xml,https://news.com/rss/news.xml
NVIDIA_NIM_API_KEY=abcdefghijkmnopqrstuvwxyz
NVIDIA_NIM_MODEL=abcdefghijkmnopqrstuvwxyz
